In [7]:
import pandas as pd
import hashlib

In [12]:
f_in = './Demographics.csv'
df = pd.read_csv(f_in,dtype=str)
df

    PersonID sex               date_of_birth        ethnicity
0        101   M  1951-12-25 00:00:00.000000            White
1        102   M  1981-11-19 00:00:00.000000            Black
2        103   F  1997-05-11 00:00:00.000000           Indian
3        104   F  1975-06-07 00:00:00.000000      Bangladeshi
4        105   F  1976-04-23 00:00:00.000000            White
..       ...  ..                         ...              ...
995     1096   F  1993-09-07 00:00:00.000000            White
996     1097   M  1951-12-25 00:00:00.000000            White
997     1098   M  1966-09-29 00:00:00.000000            Black
998     1099   M  1985-03-01 00:00:00.000000  White and Asian
999     1100   M  1981-11-19 00:00:00.000000            Black

[1000 rows x 4 columns]

In [13]:
salt = 'be3db1245f'
df['PersonID'] =  df['PersonID'].apply(
        lambda x: x+salt
    )
   #hashlib.sha256((x+salt).encode("UTF-8")).hexdigest()
df

           PersonID sex               date_of_birth        ethnicity
0     101be3db1245f   M  1951-12-25 00:00:00.000000            White
1     102be3db1245f   M  1981-11-19 00:00:00.000000            Black
2     103be3db1245f   F  1997-05-11 00:00:00.000000           Indian
3     104be3db1245f   F  1975-06-07 00:00:00.000000      Bangladeshi
4     105be3db1245f   F  1976-04-23 00:00:00.000000            White
..              ...  ..                         ...              ...
995  1096be3db1245f   F  1993-09-07 00:00:00.000000            White
996  1097be3db1245f   M  1951-12-25 00:00:00.000000            White
997  1098be3db1245f   M  1966-09-29 00:00:00.000000            Black
998  1099be3db1245f   M  1985-03-01 00:00:00.000000  White and Asian
999  1100be3db1245f   M  1981-11-19 00:00:00.000000            Black

[1000 rows x 4 columns]