In [1]:
import pandas as pd
import hashlib

In [2]:
f_in = './Demographics.csv'
df = pd.read_csv(f_in,dtype=str)
df

    PersonID sex               date_of_birth        ethnicity
0        101   M  1951-12-25 00:00:00.000000            White
1        102   M  1981-11-19 00:00:00.000000            Black
2        103   F  1997-05-11 00:00:00.000000           Indian
3        104   F  1975-06-07 00:00:00.000000      Bangladeshi
4        105   F  1976-04-23 00:00:00.000000            White
..       ...  ..                         ...              ...
995     1096   F  1993-09-07 00:00:00.000000            White
996     1097   M  1951-12-25 00:00:00.000000            White
997     1098   M  1966-09-29 00:00:00.000000            Black
998     1099   M  1985-03-01 00:00:00.000000  White and Asian
999     1100   M  1981-11-19 00:00:00.000000            Black

[1000 rows x 4 columns]

In [3]:
salt = 'be3db1245f'
df['PersonID'] =  df['PersonID'].apply(
        lambda x: hashlib.sha256((x+salt).encode("UTF-8")).hexdigest()
    )
df

,PersonID,sex,date_of_birth,ethnicity
0,6d218befea19ec6ec1dfb83ea139d193995bc1da7f9259...,M,1951-12-25 00:00:00.000000,White
1,d13363d1dd74d684e19670e5ac27c586b106a77372b8cf...,M,1981-11-19 00:00:00.000000,Black
2,4dd51b1292ca558b44676bd1310c4ac1ac4efad0ba5fcb...,F,1997-05-11 00:00:00.000000,Indian
3,7e4c2c816938c8dac3c86892ea957a48d0553e661c1727...,F,1975-06-07 00:00:00.000000,Bangladeshi
4,5a9a1f2ca6902efcfa0daa1bc9add7c5f15236aef633d1...,F,1976-04-23 00:00:00.000000,White
...,...,...,...,...
995,84925d523a84334d1431f94d2919897ddbe97fdb3c657d...,F,1993-09-07 00:00:00.000000,White
996,ab707f4c01f975369375b1948a69ba14089c7c78d4f011...,M,1951-12-25 00:00:00.000000,White
997,6b61d64890347a467c400c72b0ea997edba425b860d769...,M,1966-09-29 00:00:00.000000,Black
998,c7baad538b782cf82275034979932c534894ba84a023aa...,M,1985-03-01 00:00:00.000000,White and Asian
999,49ad3c50cfd1b7aebf789a5fa97523537d9375865a5cdf...,M,1981-11-19 00:00:00.000000,Black